.pricing-cards {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 1rem 0;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  min-height: 430px;
  min-width: 280px;
  margin: 1rem;
  padding: 2rem 2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px hsl(233, 13%, 49%);
  border-radius: 0.5rem;
  text-align: center;
  z-index: 100;
}

.pricing-card:nth-of-type(2) {
  z-index: 101;
}

.pricing-card-text {
  font-size: 1.05rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.pricing-card-text.price {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.pricing-card-link {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
}

.pricing-card-link:hover {
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(234, 14%, 74%);
  background: transparent;
}

.pricing-card:nth-child(2) {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.pricing-card:nth-child(2) .pricing-card-link {
  color: hsl(237, 63%, 64%);
  background: hsl(0, 0%, 100%);
}

.pricing-card:nth-child(2) .pricing-card-link:hover {
  color: hsl(0, 0%, 100%);
  background: transparent;
}

.border-top {
  border-top: 1px solid hsl(234, 14%, 74%);
}

@media only screen and (min-width: 1000px) {
  .pricing-cards {
    flex-direction: row;
  }

  .pricing-card {
    min-width: 350px;
    margin: 0;
  }

  .pricing-card:nth-child(2) {
    transform: scale(1.05);
    box-shadow: none;
  }
}
